/* nav related styles */
nav{
    display:flex;
font-family: 'Open Sans', sans-serif;
justify-content: space-between;
margin: 0 200px;
}

.text-primary{
    color: orange;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: dimgray;
}
.btn-primary{
    border-radius: 20px;
    background-color: orange;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.nav-title{
    text-align: center;
}
nav > nav-title {
    align-items: center;
}
.header{
    background-color: antiquewhite;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    padding-right: 0;
    padding-bottom: 0;
    
}
.banner .profile-pic{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.banner-greeting {
    font-size: 45px;
    color: dimgray;
    margin-bottom: 0;
}
.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500px;
}
.about{
    padding: 130px;
    margin: 30px ;

}
.section-title{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: gray;

    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}